[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AHMassBank"]
	path = AHMassBank
	url = https://github.com/jorainer/ahmassbank
[submodule "ensembldb"]
	path = ensembldb
	url = https://github.com/jorainer/ensembldb
